body {
    margin: 0;
    background: #0b0b0b;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    padding: 40px;
}

header {
    background: #181818;
    padding: 12px 20px;
    border-bottom: 1px solid #333;
    font-size: 20px;
    font-weight: bold;
}

.logo span {
    color: #00b06f;
}

#gameBox {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 12px;
    width: 400px;
    margin: auto;
}
